body {
    background-color: #3fc5f0;
}

.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
}

.flex-container > * {
    width: 250px;
}
