body {
    background-color: #6fb98f;
}

.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    flex-direction: row;
    align-items: flex-start;
    width: 600px;
}