.container {
    display: flex;
    flex-flow: row wrap;
}

.container > * {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid #fff;
    padding: 20px;
    margin: 5px;
    justify-content: space-between;
    text-align: center;
    min-width: 250px;
    flex-grow: 1;
    align-content: space-between;
}

.container > *:hover {
    background-color: rgba(255, 255, 255, 0.44);
}

a {
    text-decoration: none;
    color: #fff;
}